<link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="/assets/css/font.css">
<link rel="stylesheet" href="/assets/lib/layui/css/layui.css">
<link rel="stylesheet" href="/assets/css/xadmin.css">
<script src="/assets/lib/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/xadmin.js"></script>
<!-- 前端用工具函数 -->
<script type="text/javascript" src="/js/utils.js"></script>
